html {
    background: #eee no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    line-height: 1.4em;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: auto;
    color: #000;
    position: relative;
    min-height: 100%;
}


nav {
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
}

nav ol {
    padding: 0;
    margin: 1em;
    text-align: center;
    margin: 1em auto;
    line-height: 1.5em;
}
#topnav ol li.activePage{
    background-color: #cbbfff;
    border: 1px solid #6d56ca;
    border-radius: .1em;
}
#topnav ol{
    margin-top: 0;
}

#topnav ol li{
    display: inline-block;
    list-style-type: none;
    width: 6em;
    border: 1px solid #eee;
}

nav a{
    text-decoration: none;
    font-size: 120%;    
    color: #393939;
}

nav a:visited{
    color: #393939
}

nav a:hover{
    text-decoration: underline;
}

.breadcrumb {
    max-width: 39em;
    margin: auto;
    padding: 1em 5% 0 5%;
}

.breadcrumb p{
    font-size: 0.8em;
    margin: 0;
}

ol ol {
    list-style-type: lower-alpha
}

ol ol ol {
    list-style-type: lower-roman;
}

h1 {
    text-align: center;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 250%;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top:0;
    padding-top:.2em;
    padding-bottom:.2em;
    color: #383838;
}




.title{
    text-align: left;
    background: linear-gradient(to bottom, #6d56ca , #eee);
    margin-bottom: 10px;
}


header a{
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: inherit;
}

header a:visited{
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: inherit;
}

footer{
    text-align: left;
    background: linear-gradient(to top, #6d56ca, #eee);
    color: #222;
    height: 101.32px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer .footerContent {
    max-width: 39em;
    margin: auto;
    position: relative;
    top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

footer p {
    margin: 0;
    font-size: 0.85em;
    text-align: center;
}

.pushFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footerLink {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-decoration: none;
    color: #222;
}

.footerLink:after {
    content:"\a";
    white-space: pre;
}

.footerLink:visited {
    color: #222;
}

.footerLink:hover {
    text-decoration: underline;
}

.footerCredits {
    
}


h2{
    text-align: center;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    width: 55%;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 0.3em;
    line-height:1.2em;
    color: #393939;
}

h3 {
    text-align: left;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.3em;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
    color: #393939;
}

summary {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #393939;
}

summary:hover {
    cursor: pointer;
}

details {
    padding: 0.5em;
    border: 1px solid #6d56ca;
    border-radius: .3em;
    background-color: #cbbfff;
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    width: 70%;
    margin: auto;

}

pre {
    line-height: 1em;
    font-size: 70%;
    padding: 1em;
    border-style: solid;
    border-color: rgba(43, 43, 43, 0.5);
    border-radius: 0.4em;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

article a {
    text-decoration: none;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: #6d56ca;
}

article a:hover {
    text-decoration: underline;
}

article a:visited {
    color: #6d56ca;
}



.rating {
    font-size: 200%;
    line-height: initial;
    padding: 0.5em;
    float: left;
    margin-top:0.5em;
    margin-bottom: 0;
}


article {
    max-width: 39em;
    margin: auto;
    padding: 1em 5% 7em 5%;
}

.genre p {
    margin-top: 0;
}

.genre ul, .about ul {
    padding-left: 3em;
}

.game aside {
    text-align: left;
    padding-bottom: 0.5em;
    font-size: 0.8em;
    line-height: 1.3em;
}

.coverArt img {
    max-width: 70%;
}


.gameInfoContainer {
    float: right;
    text-align: center;
    border: 1px solid #6d56ca;
    border-radius: .3em;
    background-color: #cbbfff;
    width: 13em;
}

.gameInfo {
    clear: both;
    text-align: left;
    padding: 0.3em 1em 0 1em;
    margin-bottom: 0;
}

.gameInfo li {
    list-style-type: none;
}

.ratingLabel {
    line-height: 1.6em;
    margin-top: 2.33em;
    float: left;
    padding-left: 1em;
    padding-right: 0.5em;
    font-weight: bold;
}

.summary {
    font-size: 0.8em;
    line-height: 1.3em;
}





#screenshotContainer {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    max-width: 95%;
}

.screenshotSlides {
    width: 100%;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.center {
    text-align: center !important;
}

.display-bottom-middle {
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
}

.button {
    padding: 0.5em 1em;
    background-color: #6d56ca;
    margin: 0.5em;
}

.smallButton {
    background-color: initial;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    border: 1px solid #6d56ca;
    position: relative;
    top: 22px;
}


.button:hover, .smallButton:hover {
    cursor: pointer;
}


.activeButton {
    background-color: #cbbfff;
}

.video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border: 0;
}


form {
    max-width: 30em;
    font-family: sans-serif;
    margin: auto;
}

fieldset {
    border: 2px solid #6d56ca;
    clear: both;
    margin-top: 1.5em;
    padding-bottom: 1.5em;
}

label {
    color: #393939;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.5em;
}

.form-heading {
    text-align: center;
}

.text-field {
    display: block;
    float: left;
    padding: 0.5em 0.5em 0 0;
    width: 7em;
}

.check-label {
    display: block;
    padding: 0.5em 0.5em 0 0;
    width: 7em;
}


#form input[type=submit] {
    background: #cbbfff none repeat scroll 0 0;
    border: medium none;
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0px #6d56ca;
    color: #000;
    margin: 1em;
    padding: 0.4em 2.5em;
    font-size: 1.2em;
}

fieldset.buttons {
    text-align:center;
    padding-bottom: 0.5em;
}

#form input[type=text] {
    padding: 10px;
    font-size: 0.5em;
    width: 95%;
}

#form input#txtEmail:focus {
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

form p {
    font-size: 1.5em;
}

.buttons legend {
    display: none;
}

legend {
    color: #393939;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.5em;
}

label:after {
    content:"\a";
    white-space: pre;
}

/* Lab 9 */
.mistake {
    background-color: rgba(255, 0, 0, 0.22);
    border: thin solid rgb(255, 0, 0);
}

#errors ol li{
    color: #f00;
}

#userMessage {
    max-width: 30em;
    margin: auto;
    border: 2px solid #6d56ca;
    clear: both;
    margin-top: 1.5em;
}

/* Lab 10 */
.message {
    max-width: 30em;
    margin: auto;
    border: 2px solid #6d56ca;
    clear: both;
    margin-top: 0.5em;
}

.formInfo {
    font-weight: bold;
}

.formMessageHead {
    width: 10em;
}

.noTop {
    margin-top: 0;
}

.noBottom {
    margin-bottom: 0;
}

.indent {
    text-indent: 40px;
}

.emailContainer {
    padding: 0.5em 0;
}


/* Lab 11 */
fieldset p {
    margin: 0.2em 0;
}

.radio ul, .checkbox ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0.7em;
}

.radio li {
    padding-right: 2em;
}

select {
    font-size: 0.5em;
    padding: 0.5em;
    width: 10em;
}

.formGameInfo {
    padding: 0.3em 1em 1.5em 1em;
}

.homeCoverArt {
    width: 29%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    display: inline-block
}

.homeCoverArt img{
    width: 100%;
}

.homeCoverArtContainer {
    text-align: center;
    margin: 0;
}

.characterLeft, .characterRight {
    width: 75px;
    padding-bottom: 70px;
}


.characterContainerLeft, .characterContainerRight{
    overflow: hidden;
    height: calc(100% - 150px);
    width: 75px;
    position: absolute;
    top: 150px;
}

.characterContainerLeft{
    left: 2%;
}

.characterContainerRight {
    left: calc(98% - 75px);
}

.code {
    font-family: "Courier New", Courier, monospace;
    background-color: #ddd;
    padding: 0.05em 0.5em;
}

.codeBlock {
    display: block;
    white-space: pre;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: scroll;
}

.about li {
    padding-bottom: 0.5em;
}

.about details li {
    padding-bottom: 0.1em;
}


figcaption {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 0.9em;
}

@media screen and (max-width: 970px) {
    .coverArt {
        display: block;
        text-align: center;
    }
    .gameInfoContainer {
        float: none;
        margin: 0.5em auto 1em auto;
    }
}

@media screen and (max-width: 1150px) {
    .characterContainerLeft, .characterContainerRight {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .footerCredits {
        display: none;
    }
    footer p {
        margin-top: 1em;
    }
}