html {
    background: #dfdfdf no-repeat center center fixed; 
    background-size: cover;
}

body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 16pt;
    width: 100%;
    line-height: 1.4em;
    padding: 1em;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: auto;
}


nav ol {
    padding: 0;
    margin: 1em;
    text-align: center;
    margin: 1em auto;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
}


nav ol li {
    display: block;
    list-style-type: none;
    width: 6em;
}

nav ol li a {
    text-decoration: none;
    font-size: 120%;    
}

nav ol li a:hover{
    text-decoration: underline;
}

ol ol {
    list-style-type: lower-alpha
}

ol ol ol {
    list-style-type: lower-roman;
}

h1 {
    text-align: center;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 250%;
    line-height: 1.5em;
    text-transform: uppercase;
}

h2{
    text-align: center;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    width: 55%;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.3em;
    line-height:1.2em;
}

h3 {
    text-align: center;
    font-family:Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.3em;
    margin-top: 1.3em;
    margin-bottom: 0.7em;
}

img {
    max-width: 100%;
    width: 70%;
    margin: auto;

}

pre {
    line-height: 1em;
    font-size: 70%;
    padding: 1em;
    border-style: solid;
    border-color: rgba(43, 43, 43, 0.5);
    border-radius: 0.4em;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.rating {
    padding: 1em;
    font-size: 200%;
    float:right;
}

#navbar {
    overflow: hidden;
    float: left;
}


.sticky {
    position: fixed;
    top: 0;
    width: 20%;
}

article {
    max-width: 65%;
    margin: auto;
}

footer {
    max-width: 65%;
    margin: auto;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}